* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // a cada 1rem será considerado 1px
  font-size: 6.25%;
  height: 100vh;

}
body {
  font-size: 14rem;

  background: #f8f8f8;
  color: #29292e;
  margin-bottom: 40px;
}

a {
  font: 400 14rem "Roboto", sans-serif;
  text-decoration: none;
  color: #835afd;

  &:hover {
    text-decoration: underline;
    color:#e559f9;
  }
}
body,
input,
button,
textarea {
  font: 400 16rem "Roboto", sans-serif;
}

input,
textarea {
  border: 1rem solid #835afd !important;
  outline: 0;

  &:focus {
    border: 1rem solid #e559f9 !important;
  }
}

@media (max-width: 1024px) {

  html{
    font-size: 5.5%;
  }
}

@media (max-width: 890px) {
  html{
    font-size: 5.0%;
  }
}
