.question-item {
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  margin-top: 8px;

  // & + .question-item {
  //   margin-top: 8px;
  // }

  p {
    display: flex;
    margin-bottom: 25px;
    color: #29292e;
  }

  footer {
    display: flex;

    justify-content: space-between;

    .options {
      align-items: center;
      display: flex;
      color: #737380;
      font-family: "Poppins", sans-serif;

      gap: 8px;
      img {
        cursor: pointer;
        filter: contrast(40%);

        &:hover {
          filter: none;
        }

        &.liked {
          filter: none;
        }
      }
    }
    .user-info {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #737380;

      img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border-radius: 50%;
      }
    }
  }
}
