.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background-color: #fff;
  border: 1px solid #85828d;
  cursor: pointer;
  display: flex;


  img{
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(1000%);
  }

  div {
    background-color: #835afd;

    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
   
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
  }
}
